.header {
  text-align: center;
}

.main {
  text-align: center;
  display: none;
}

#splash {
  text-align: center;
}

#dead{
  display: none;
}

img {
  height: 40%;
  width: 40%;
}

#confusedpika {
  display: none;
}

#sadpika {
  display: none;
}